.Wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}
.Wrapper .Cards {
    display: block;
}
.LeftCard {
    height: 520px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    margin: 0px auto;
    border-radius: 2px;
}
.RightCard {
    height: 520px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: right;
    margin: 10px auto;
    border-radius: 2px;
}
@media screen and (max-width: 500px) {
    .Wrapper {
        padding-left: 0px;
    }
    .LeftCard{
        width:0px;
    }
    .RightCard {
        width: 0px;
    }
}