.Wrapper {
    display: inline-block;
    width: 100%;
    
}
.LeftCard {
    height: 520px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    margin: 50px 50px 0px;
}
.RightCard {
    height: 520px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: right;
}